h1{
  background-color: black;
  color: white;
  text-align: center;

}
p{
  text-align: center;
  color: brown;
  font-size: 18px;
  font-family: 'Trebuchet MS', sans-serif;
}

h2{
  width: 300px;
  background-color: goldenrod;
  text-align: center;

}

.full-name:focus{
  border: 2px solid goldenrod;
  background-color: black;
  color: white;
  font-size: 18px;
  text-align: center;
}

.btn{
width: 80px;
height: 60px;
padding: 5px;
background-color:cadetblue;
text-align: center;
}
.btn:hover{
  background-color: brown;
  color: white;
}